@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Monoton&display=swap');


/* Header config */
.header-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-navbar p {
  margin: 0.75rem 1.5rem;
  font-family: 'Monda', sans-serif;
}

/* Main poster config */
.dm-poster__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dm-poster-main {
  width: 80%;
  height: 17rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dm-poster-main h4 {
  font-family: 'Monoton', cursive;
  font-size: 3.5rem;
  text-align: center;
  color: #FFF;
  font-weight: 100;
  word-spacing: 2rem;
}

.dm-poster-main a {
  width: 75%;
  margin-top: 2rem;
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 2rem;
  color: #FFF;
  text-decoration: none;
  border-radius: 15px;
  background-color: #EA731D;
  transition: .5s;
}

.dm-poster-main a:hover {
  width: 80%;
  background-color: #000;
  color: #EA731D;
}

@media screen and (min-width: 768px) {
  .dm-poster-main a {
    width: 30%;
  }

  .dm-poster-main a:hover {
    width: 40%;
  }
}